<div class="card mat-card">
    <div class="card-titles">
        <p class="sections-titles">Acerca de</p>
        <div class="btn-edit" onclick="cambiar_parrafo()">
            <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
        </div>
    </div>
    <div>
        <p id="text-acercade">I'm passionate about technology, I always try to train myself and find out about new technologies.</p>
    </div>
    <div>
        <!-- <input id="edit-acercade" oninput="myFunction2(this.value)" style="display:none" type="text"></input>  -->

    </div>
    <div class="editar-perfil">
        <input type="file" id="file1" onchange="showFile1(this)">
    </div>



</div>
