<nav class="navbar navbar-dark navbar-expand-lg barra-sup">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../images/prueba123.png" alt="" class="logo-menu"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

            <div class="navbar navbar-left">
                <a class="" href="https://argentinaprograma.inti.gob.ar/">
                    <img class="withe-icon" src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1652360229/APLogo-20-20.png" alt=" ">
                </a>

                <a class="" href="#">#YoProgramo</a>
                <a class="" href="#"></a>
                <a class="" href="#"></a>
            </div>
            <div class="navbar nav-right">

                <div class="btn-edit" id="navbar-rrss">
                    <a href="#" class="btn-right"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" class="btn-right"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="btn-right"><i class="fa-brands fa-linkedin"></i></a>
                </div>


                <!--Menu USUARIO-->
                <div class="btn-user" id="navbar-user">
                    <div class="btn-group dropdown-menu-right">
                        <button type="button" class="btn dropdown-toggle" id="user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa-solid fa-user btn-right"></i></button>

                        <ul class="dropdown-menu dropdown-menu-right" id="user-menu">
                            <li id="user-login"><a class="dropdown-item" href="http://localhost:4200/iniciar-sesion">Iniciar Sesión</a></li>
                            <li id="user-logup"><a class="dropdown-item" href="http://localhost:4200/portfolio">Crear una cuenta</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li id="user-logout"><a class="dropdown-item" href="http://localhost:4200/portfolio">Salir</a></li>
                        </ul>

                    </div>

                </div>

            </div>
        </div>
    </div>
</nav>