<div>
    <ul class="lista-proyectos">
        <li>
            <!--<a href="#"> -->
            <div class="my-proy">
                <div class="st-habilidad">
                    <h4 class="proy-name">Proyecto 01 - 2021</h4>
                    <div class="btn-edit" onclick="cambiar_progreso()">
                        <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
                    </div>
                </div>

                <div class="">
                    <div class="">
                        <img class="my-exp-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4sr8V8DKNDTXy7dpeOrlJ9KVQ5XuFi_LOfA&usqp=CAU" alt="">
                    </div>
                </div>
                <div class="proy-description">
                    <p>Lorem ipsum dolor sit amet. Quo voluptatem debitis qui suscipit aliquid est voluptas omnis. In exercitationem error sit obcaecati fugit ut eius repellendus qui similique perferendis. Ab laudantium perspiciatis eos consequatur temporibus
                        non minima quis. Et quia quia ex dolores quaerat vel exercitationem ipsa.</p>
                </div>
            </div>
            <!-- </a> -->
        </li>
    </ul>
</div>
