<div class="card mat-card">
    <div class="st-my-sections">
        <p class="sections-titles">Experiencia</p>
        <div class="btn-plus" onclick="agregar_exp()">
            <a href="#" class="btn-right"><i class="fa-solid fa-plus"></i></a>
        </div>

    </div>
    <app-experiencia-laboral id="sec-exp" class="c-group-item"></app-experiencia-laboral>

    <div class="st-my-sections">
        <p class="sections-titles">Educación</p>
        <div class="btn-plus" onclick="agregar_edu()">
            <a href="#" class="btn-right"><i class="fa-solid fa-plus"></i></a>
        </div>
    </div>
    <app-experiencia-y-educacion id="sec-edu" class="c-group-item"></app-experiencia-y-educacion>

    <div class="st-my-sections">
        <p class="sections-titles">Skills</p>
        <div class="btn-plus" onclick="agregar_skill()">
            <a href="#" class="btn-right"><i class="fa-solid fa-plus"></i></a>
        </div>
    </div>
    <app-aptitudes class="c-group-item"></app-aptitudes>

    <div class="st-my-sections">
        <p class="sections-titles">Proyectos</p>
        <div class="btn-plus" onclick="agregar_proyecto()">
            <a href="#" class="btn-right"><i class="fa-solid fa-plus"></i></a>
            <a href="#" class="btn-right"><i class="fa-solid fa-trash-can-xmark"></i></a>
        </div>
    </div>
    <app-proyectos class="c-group-item"></app-proyectos>

</div>