<div class="card mat-card" id="first-card">
    <div class="contenedor-backg">
        <!-- <div id="profile-background"><img [src]="miPortfolio.backImage" alt=""></div> -->
    </div>
    <!--  -->
    <div id="info" style="padding: 16px">
        <div id="info-img">
            <!-- <img class="profile-image" [src]="miPortfolio.image" alt=""> -->
            <div class="btn-edit">
                <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
            </div>
        </div>
        <div id="info-data">
            <div id="name-details" class="row">
                <div class="col-6">
                    <h1>{{miPortfolio.nombre}} {{miPortfolio.apellido}}</h1>
                    <div id="info-company">{{miPortfolio.domicilio}}</div>
                    <div id="info-contact">
                        <span>{{miPortfolio.domicilio}}</span>
                        <span> - </span>
                        <span><a href="#">Información de Contacto</a></span>
                    </div>
                </div>
                <div class="col-6">
                    <ul id="info-details">
                        <li>
                            <a href="#">
                                <div class="exp">
                                    <div class="exp-img-box">
                                        <img class="exp-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4sr8V8DKNDTXy7dpeOrlJ9KVQ5XuFi_LOfA&usqp=CAU" alt="">
                                    </div>
                                    <h2>Panda</h2>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="exp">
                                    <div class="exp-img-box">
                                        <img class="exp-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4sr8V8DKNDTXy7dpeOrlJ9KVQ5XuFi_LOfA&usqp=CAU" alt="">
                                    </div>
                                    <h2>Panda 2</h2>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>


            </div>

            <div id="info-actions">
                <div class="btn-info-actions"><button type="button" class="btn btn-primary btn-sm ">Intereses</button></div>
                <div class="btn-info-actions"><button type="button" class="btn btn-outline-light btn-sm btn-cus">Añadir + </button></div>
                <div class="btn-info-actions"><button type="button" class="btn btn-outline-light btn-sm btn-cus">Otro</button></div>



            </div>
        </div>
    </div>

</div>